@inject IJSRuntime JS

<div class="topnav" id="myTopnav">
  <a id="inicio" class="active" href="/" onclick="active('inicio');">Inicio</a>
  <a id="generos" href="generos" onclick="active('generos');">Géneros</a>
  <a id="cines" href="theaters" onclick="active('cines');">En Cines</a>
  <a id="proximamente" href="upcoming"  onclick="active('proximamente');">Próximamente</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="oi-account-login"></i>
  </a>
</div>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    
}
