<div class="modal fade show" role="dialog" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable p-0">
        <div class="modal-content h-100 p-0" style="width:100%;">
            <div class="modal-header">
                <span class="fs-4 fw-bold">@Movie.Original_title</span>
                <button type="button" class="btn-close" @onclick="() => Cerrar(false)" data-bs-dismiss="modal" aria-label="Close"/>
            </div>
            <div class="modal-body m-0 p-0">
                <div class="w-100 h-50 p-0 m-0">
                     <img class="backdrop" src="http://image.tmdb.org/t/p/w500/@Movie.Backdrop_path" />
                </div>
                <p class="ml-2">@Movie.Overview</p>
            </div>
            <div class="modal-footer">
             
               <h4>Aqui puede ir algo.</h4>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public Movie Movie { get; set; }
    private Task Cerrar(bool refrescar)
    {
        return OnClose.InvokeAsync(refrescar);
    }

}
