<div class="m-0 p-5">
    @foreach(var movie in Movie_Page.Results)
    {
        <CinefiliaApp.Components.Poster Movie="@movie" Image="@movie.Poster_path"/>
        
    }
</div>

@code {
    [Parameter]
    public Models.MoviePage Movie_Page { get; set; }

    
}
